/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fredoka", sans-serif;
}

/* REUSABLE */

.container {
  width: 80%;
  margin: 30px auto;
}

.row {
  content: "";
  display: table;
  clear: both;
}

/* HEADER */

h1 {
  color: #e53472;
  text-align: center;
  margin-bottom: 20px;
}

header p {
  text-align: center;
}

/* MAIN */

.card {
  width: calc(100% / 3 - 40px);
  float: left;
  margin: 20px 20px;
  background-color: #0f0e17;
  /* DEBUG */
  min-height: 80px;
}
